# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
bin
obj

# mstest test results
TestResults
packages
Drop
/apikey.txt
*.suo
*.user
/Tracer.EntLib/*.t4properties

/Tracer.Interfaces/*.t4properties

/Tracer.Log4Net/*.t4properties

/Tracer.SystemDiagnostics/*.t4properties
