<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Clarius.TransformOnBuild" version="1.0.2" targetFramework="net40" />
  <package id="netfx-System.AppDomainData" version="1.1.0.3" targetFramework="net40" />
  <package id="netfx-System.Collections.Generic.DictionaryGetOrAdd" version="1.1.1.1" targetFramework="net40" />
</packages>