<#@ template debug="false" hostspecific="true" language="C#" #>
<#@ output extension=".cs" #>
<#@ import namespace="System.IO" #>
<#= File.ReadAllText(Path.ChangeExtension(this.Host.TemplateFile, ".cs.pp")).Replace("$rootnamespace$", "System") #>